<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IFileBrowserService" />
      </netTcpBinding>
    </bindings>
    <client>
      <!-- address="net.tcp://192.168.1.102:5000/FileBrowserService" -->
      <endpoint name="NetTcpBinding_IFileBrowserService"
                address="net.tcp://localhost:5000/FileBrowserService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFileBrowserService"
                contract="FileBrowserServiceReference.IFileBrowserService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>